.content-wrap{
    display: flex;
    align-items: center;
}

.content-not-selected{
    justify-content: space-around;
}

.content-selected{
    height: fit-content;
    justify-content: center;
    align-items: flex-start;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 0px;
}

@media (max-width: 720px) {
    .content {
        margin: 50px 0px;
    }
}