.section{
    display: grid;
    justify-items: center;
    text-align: center;
    height: 70.47vh;
    border-radius: 25px;
    transition: all 500ms;
    
}

.section-not-selected{
    width: 39.6%;
    align-content: center;
    transition: all 500ms;
}

.section-selected{
    width: 81%;
    align-content: flex-start;
    transition: all 500ms;
}

.section-not-selected:hover{
    width: 44.6%;
    height: 72.72vh;
    transition: all 500ms;
}

.text{
    text-align: start;
}

.text-not-selected{
    width: 50%;
}

.text-selected{
    width: 80%;
}


@media (max-width: 720px) {
    .section-not-selected{
        width: 86%;
        height: 30.15vh;
        transition: 500ms;
    }

    .section-not-selected:hover{
        width: 91%;
        height: 32.4vh;
        transition: 500ms;
    }

    .section-selected{
        height: 76.5vh;
        margin: 0px 0px 100px 0px;
    }

    .text-not-selected{
        width: 60%;
    }
}