@property --pa {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 1%;
}

@property --pg {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 100%;
}

.algebra-selected{
    --pa:50%;
    transition: --pa 500ms;
}


.geometry-selected{
    --pg:50%;
    transition: --pg 500ms;
}

.content-view{
    background: linear-gradient(90deg, rgba(119,59,178,1) var(--pa), rgba(80,150,56,1) var(--pg));
    transition: --pa 500ms, --pg 500ms;
}

@media (max-width: 720px) {
    .content-view{
        background: linear-gradient(0deg, rgba(80,150,56,1) 0%, rgba(119,59,178,1) 100%);
    }
}